

{% block about %}

<section id="about" class="about-mf sect-pt4 route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="box-shadow-full">
          <div class="row">
            <div class="col-md-6">
              <div class="row">
                <div class="col-sm-6 col-md-5">
                  <div class="about-img">
                    <img src="assets/img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                  </div>
                </div>
                <div class="col-sm-6 col-md-7">
                  <div class="about-info">
                    <p><span class="title-s">Name: </span> <span>William Tappan</span></p>
                    <p><span class="title-s">Profile: </span> <span>Python developer</span></p>
                    <p><span class="title-s">Email: </span> <span>ing.tappan@gmail.com</span></p>
                    <!-- <p><span class="title-s">Phone: </span> <span>(617) 557-0089</span></p> -->
                  </div>
                </div>
              </div>
              <div class="skill-mf">
                <p class="title-s">Skill</p>

                <span>Python</span> <span class="pull-right">90%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>C++</span> <span class="pull-right">75%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>JAVASCRIPT</span> <span class="pull-right">55%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>HTML</span> <span class="pull-right">80%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span>CSS3</span> <span class="pull-right">50%</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-me pt-4 pt-md-0">
                <div class="title-box-2">
                  <h5 class="title-left">
                    About me
                  </h5>
                </div>
                <p class="lead">
                  Hola Soy Ingeniero Mecatronio egresdo del la Universidad del Valle de Mexico
                  Con 5 años de experiencia Professional en el area de desarrollo de software y hardware
                </p>
                <p class="lead">              
                  Prgamacion en C/C++, Python, JavaScript, HTML, CSS, SQL,  Kotlin, Flutter, Dart,
                  Desarllador IoT, Arduino, Desarrollo en Raspberry, Programador de microcontroladores Microchip
                  ptocolos de comunicacion serial, i2c, spi, http, mqtt.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->



{% endblock %}
